/* Element-level */

body {
}

a {
  color: #c99fea;
  text-decoration: underline;
}

a:hover {
  color: #9d59d2;
}

a img {
  /* border: solid 1px #fcf431; */
}

footer {
  font-size: 8pt;
}

section {
  margin-bottom: 100px;
}

/* Handy things */
.fit-image img { width: 100%; }

.center {
  text-align: center;
}

.class-name {
  font-size: 8pt;
}

/* Schedule table */
table.schedule  .current-week {
  background: #054404;
}

table.schedule .WEEK { width: 5%;  }
table.schedule .DATE { width: 10%; }
table.schedule .CONT { width: 75%; }
table.schedule .NOTE { width: 10%;  font-size: 8pt; }


/* page section types */
.unit-introduction {
  background: #2e084c;
  padding: 10px;
  border: solid 1px #9d59d2;
}
