a {
  color: #6f9dff;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}

/*
a:before {
  color: #ff0000;
  content: "🔗 ";
}
*/

.exercise h3 {
    background: #3F215C;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
}

.exercise h3 a {
    color: #fff;
}

.exercise h4 {
    background: #343434;
    padding: 5px;
    margin-top: 100px;
}

.exercise h5 {
    margin-top: 50px;
    color: #fff;
}

.exercise .quick-reference h4 a {
  color: #7CA8FF;
}

.exercise .quick-reference h5 {
  background: #ece6f2;
  padding: 5px;
  margin-top: 0;
  color: #0A2D73;
}

h5 {
  color: #000;
}

h4 a,
a h4 {
  color: #7CA8FF;
}

.class-quick-nav {
  border: solid 1px #000;
  background: #0a0d11;
  color: #989ead;
  text-align: center;
}

.class-quick-nav p {
  padding: 0;
  margin: 0;
}

.class-quick-nav a {
  color: #8cc5fe;
}

.class-quick-nav ul {
  margin: 0;
  padding: 0;
}

.extraneous {
    background: #251c90; 
    color: #cde1ff;
    border: solid 5px #0c083b;
    padding: 5px;
    margin: 10px;
}

.protip {
    border: solid 5px #AD9424;
    background: #FFF387;
    color: #000;
    padding: 5px;
    margin: 10px;
}

.error {
    border: solid 5px #280202;
    background: #521414;
    color: #e1b8b8;
    padding: 5px;
    margin: 10px;
}

code {
  color: #fba4cc;
  background: #420722;
  padding: 0 5px;
}

pre code {
  color: #fba4cc;
  background: #420722;
}

pre {
  color: #fba4cc;
  background: #420722;
}

blockquote {
  margin-left: 10px;
  padding: 10px;
  border: dashed 2px #aaa;
  background: #000;
  color: #fff;
}

.video-embed {
  background: #4f1c90; 
  color: #e3cdff;
  clear: both;
  border: solid 2px #200035;
  padding: 5px;
  width: 100%;
  min-width: 620px;
  text-align: center;
  margin: 10px 0;
}

.video-embed h4 {
  width: 100%;
}

.video-embed video {
  width: 600px;
  height: 338px;
  margin: 0 auto;
}

.video-embed iframe {
  width: 600px;
  height: 338px;
  margin: 0 auto;
}

.otherstuff .card {
  margin: 5px;
}


.assignment-info .canvas-links {
  clear: both;
}

.assignment-info .due-dates {
  margin-bottom: 20px;
}

.assignment-info #insert-duedate {
  margin-right: 50px;
}

.assignment-info .canvas-links ul li {
  float: left;
  margin-right: 35px;
}

.assignment-info .canvas-links ul {
}

.quick-nav ul
{
    list-style-type: none;
    text-align: right;
    display: inline;
}

#weekly-schedule td.notes {
    font-size: 0.8em;
}

#weekly-schedule ul li {
    list-style-type: none;
}

#weekly-schedule ul {
    padding-left: 0;
}

#weekly-schedule a {
  font-weight: bold;
  color: #80E7FF;
}

hr.little, hr.small {
    width: 75%;
    background: #e5c5ff;
}

.exercise section { width: 100%; }

.exercises .name,
.quizzes .name { font-size: 11pt; }

section.reminders { font-size: 11pt; }
section.reminders ul { padding-left: 0; }
section.reminders ul li { background: #ffffaa; padding: 5px; list-style-type: none;  color: #5B0008; font-weight: bold; }

section.by-unit table {
    font-size: 11pt;
}

.by-unit table ul li { margin-bottom: 15px; }
.by-unit table ul ul li { margin-bottom: 0; }

.syllabus-icon img,
.col-sm-1 img,
.fit-image img { width: 100%; }

table.section-info th { padding-right: 10px; }

.header-information {
    font-size: 0.8em;
}

.header-information #nav-box ul li {
    font-size: 12pt;
}

.do { background: #D8FFD2; }
.dont { background: #FFD2D7; }
.maybe { background: #FFEC85; }

.course-description-stuff { font-size: 10pt; }
.course-description-stuff p { margin-top: 0 !important; margin-bottom: 0 !important; }
.course-description-stuff h3 { font-size: 10pt; font-weight: bold; margin-top: 10px; }

.changing-field { background: #D2EDFF; }

.pronouns { font-size: 0.9em; }

.invisible { display: none; }

.uml { border: solid 1px #000; font-family: monospace; background: #FEFFE0; width: 100%; color: #000; }
table.uml tr td,
table.uml tr th { padding: 5px; }

table.uml tr th { text-align: center; }

table.function-spec,
table.function-spec tr th,
table.function-spec tr td {
  border: solid 1px #006e85;
}

table.function-spec tr th {
  width: 50%;
}

table.function-spec,
table.function-spec tr th {
  background: #c4f5ff;
  padding: 5px;
}

table.function-spec,
table.function-spec tr td {
  background: #fff;
}


ol li ol {
  list-style-type: lower-alpha;
}


.info-box {
    background: #fff;
}

.bg1 .info-box-header { 
  background: #6f0a21;
  color: #d7a5b0;
}

.bg1 .info-box-body {
  background: #871831;
  color: #fff;
  padding: 5px;
}

.bg2 .info-box-header { 
  background: #033b18; 
  color: #87d4a4;
}

.bg2 .info-box-body {
  background: #0a6f30;
  color: #fffr;
  padding: 5px;
}

.info-box-header { color: #000; }

.info-box-body {
    background: #fff;
}

table.insert-here {
    width: 100%;
    border: solid 1px #666;
    border-collapse: collapse;
    color: #000;
}

table.insert-here a {
  color: #fff;
  text-decoration: underline:
}

table.insert-here th {
    font-size: 11pt;
}

table.insert-here tr {
    border: solid 2px #1e063e;
    border-collapse: collapse;
    
}

table.insert-here tr th,
table.insert-here tr td { 
    vertical-align: top;
    padding: 5px; 
} 
table.insert-here .docs.key         { width: 10%; }
table.insert-here .docs.name        { width: 30%; }
table.insert-here .docs.documents   { width: 30%; }
table.insert-here .docs.canvas      { width: 30%; }

table.insert-here .nodocs.key         { width: 10%; }
table.insert-here .nodocs.name        { width: 60%; }
table.insert-here .nodocs.documents   { width: 0%; }
table.insert-here .nodocs.canvas      { width: 30%; }

table.insert-here tr:nth-child(even)    { 
  background: #251c90; 
  color: #cde1ff;
}

table.insert-here tr:nth-child(odd)     { 
  background: #4f1c90; 
  color: #e3cdff;
}

table.insert-here .due,
table.insert-here .end { font-size: 9pt; color: #bfbfbf; }

table#weekly-schedule tr th {
  background: #09131c;
}

table#weekly-schedule tr:nth-child(even) {
  background: #191d21;
  color: #989ead;
}

table#weekly-schedule tr:nth-child(odd) {
  background: #121518;
  color: #ad989d;
}

.math {
    font-size: 1.2em;
    font-family: serif;
    font-style: italic;
}

pre.program-output {
    background: #3A3A3A;
    color: #ffffff;
    padding: 5px;
    border: outset 5px #aaa;
}

pre.text-output {
    border: outset 5px #aaa;
    background: #ddd;
    color: #000;
    padding: 5px;
}

.build-and-run {
    text-align: center;
    border: solid 5px #ADA536;
    background: #FFFCCB;
    padding: 5px;
    margin: 10px;
}

.hint-box {
    margin-bottom: 20px;
}

.hint {
    text-align: center;
    border: solid 5px #2C701A;
    color: #000;
    background: #D7FFCB;
    padding: 5px;
    margin: 10px;
}

.hint-contents {
    background: #ebffe5;
    padding: 10px;
    border-left: solid 1px #2C701A;
    border-right: solid 1px #2C701A;
    border-bottom: solid 1px #2C701A;
}

.hint-contents pre {
    border: solid 1px #2C701A;
}

.hint-box
{
}

.hint-box .click-to-expand
{
    color: #000;
    background: #33821b;
    color: #fff;
    padding: 2px;
    cursor: pointer;
    border: solid 1px #185207;
    font-weight: bold;
}

.hint-box .hint-contents 
{
    display: none;
    background: #0c2b03;
    color: #fff;
}

.center
{
    text-align: center;
}


.word-balloon
{
    border: solid 2px #000;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 14pt;
}


table.array {
  border: solid 1px #000;
  border-collapse: collapse;
  width: 100%;
}

table.array tr {
  border: solid 1px #000;
}

table.array tr td,
table.array tr th {
  border: solid 1px #000;
}

table.array td {
  font-family: "monospace";
}




/** https://codepen.io/liuzenan/pen/nCJpo
 * */

.shimmer {
  display: inline-block;
  color:white;
  
  background: #5d4000 -webkit-gradient(linear, 100% 0, 0 0, from(#ffb100), color-stop(0.5, #ffb100), to(#a06f00));
  
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; /*50px*/
  
  text-shadow: 0 0 3px #ffd474, 0 0 5px #ffd474;
  font-weight: bold;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 12.5rem top; /*200px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}

.booknav .prev { text-align: left; }
.booknav .main { text-align: center; }
.booknav .next { text-align: right; }

.title .chapter { text-align: left; }
.title .book { text-align: right; font-size: 20pt; }

.my-top-nav-bar a {
  color: #B3B3B3 !important;
}

.my-top-nav-bar li.active a {
  text-decoration: underline;
  font-weight: bold;
}

span.footnote { 
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

.textbook hr { border: dashed 5px #A0A0A0; margin-top: 100px; }
.textbook hr.small { border: solid 1px #9B0086; margin-top: 20px; }
.textbook .warning {
    border: solid 5px #ad3636;
    background: #640011;
    color: #FFDCE2;
    padding: 10px;
}

.textbook .keyword { color: #DFAF00; }


.textbook-code-form, 
.textbook .definition {
  border: solid 2px #000;
  background: #4F372B;
  color: #F5C8B3;
  padding: 5px;
}

.textbook-code-form h5 {
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0;
  color: #F5C8B3;
}

.textbook-code-form code {
  background: #3F1A09;
  color: #F5C8B3;
  font-size: 14pt;
  font-family: monospace;
}

.textbook .license { text-align: center; }

.textbook .js-widget {
  width: 90%;
  display: block;
  margin: 0 auto;
  border: outset 2px #666; 
  background: #c3c3c3;
  color: #000;
}

.textbook .js-widget input[type=button] {
  border-top: outset 2px #fff; 
  border-left: outset 2px #fff; 
  border-bottom: outset 2px #000; 
  border-right: outset 2px #000; 
  background: #c3c3c3;
}

.textbook .js-widget input[type=button]:hover {
  background: #e7e7e7;
}

.textbook .js-widget .header {
  background: #000082;
  color: #fff;
  width: 100%;
  display: block;
  font-weight: bold;
  padding-left: 10px;
  font-family: monospace;
}

.textbook .js-widget hr {
  padding: 0;
  margin: 10px;
  border: solid 1px #000;
}

.textbook .js-widget .viewable {
  padding: 10px;
}

.textbook .truth-table .t {
  background: #b6dbff;
  color: #000;
}

.textbook p .t {
  background: #b6dbff;
  color: #000;
  padding: 2px;
}

.textbook .truth-table .f {
  background: #ffff6d;
  color: #000;
}

.textbook p .f {
  background: #ffff6d;
  color: #000;
  padding: 2px;
}

.framed {
  border: solid 1px #aaa;
}

.math {
  font-family: serif;
  font-style: italic;
}

.back-to-top {
  text-align: center;
  border: solid 1px #ADADAD;
  padding: 10px;
  width: 200px;
  margin: 20px auto;
  background: #3D3D3D;
}

.back-to-top a {
  color: #80E7FF;
  font-weight: bold;
}


.student-mons {
  border: solid 2px #000;
  margin-bottom: 20px;
  background: rgb(89,188,255);
  background: linear-gradient(180deg, rgba(89,188,255,1) 59%, rgba(0,148,8,1) 75%); 
}

.student-mons .mon {
  text-align: center;
  float: left;
  margin-right: 25px;
}

.student-mons .name {
  background: rgba( 0, 0, 0, 0.5 );
  padding: 5px;
  border-radius: 15px;
}



.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}






@media print{

    .fit-image {
      text-align: center;
    }

    .fit-image img {
        width: 400px !important;
        clear: both;
    }
    
    .pr-highlighted {
      margin: 0 20px;
      font-weight: bold;
    }
    
    .pr-newpage {
      page-break-after: always;
    }
    
    .textbook hr {
    }
    
}
